body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 64px;
}
main {
  padding-top: 50px;
  flex: 1 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  z-index: 1000 !important;
  position: fixed !important;
  top: 0;
}
.flex-nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

nav .logo {
  justify-content: start;
  flex-grow: 1;
  display: block;
  line-height: 64px;
  max-height: 64px;
}
nav .logo img {
  vertical-align: middle;
}

nav .desktop-menu {
  width: 33%;
  height: 64px;
  display: flex;
  justify-content: space-around;
}
nav .desktop-menu a {
  font-size: 20px;
  font-weight: 600;
  color: #666666;
  transition: 0.1s;
}
nav .desktop-menu a:hover {
  color: #565656;
  font-weight: 700;
}

nav .icon-menu {
  width: 17%;
  height: 64px;
  display: flex;
  justify-content: space-around;
}
nav .icon-menu a i {
  font-size: 20px;
  color: black;
}
nav .icon-menu a:hover i {
  color: #565656;
  transition: 0.1s;
}
nav .icon-menu .sidenav-trigger {
  margin: 0;
}
@media screen and (max-width: 767px) {
  nav {
    height: 64px;
  }
  nav .icon-menu {
    width: 45%;
  }
  nav .icon-menu > * {
    line-height: 64px;
  }
}

.sidenav {
  padding-top: 15px;
}
.sidenav span {
  margin-left: 25px;
  font-size: 17px;
  font-weight: 700;
}

.indicators .indicator-item {
  background-color: transparent !important;
  width: 25px !important;
  height: 25px !important;
  border: solid 3px #949494;
}
.indicators .indicator-item.active::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: #949494;
  top: 2.5px;
  right: 2.5px;
}

.carousel {
  position: relative;
  margin-bottom: 10px;
}

.carousel-slider .carousel-item {
  display: block;
  position: static !important;
  padding-bottom: 50px;
}

.carousel-item .wrap {
  width: 100%;
}
.carousel-item .img {
  height: 100%;
  width: auto;
  overflow: hidden;
}

.carousel .arrow {
  position: absolute;
  top: calc(50% - 14px - 25px);
  z-index: 5;
  padding: 10px;
  font-size: 28px;
}
.carousel .arrow.arrow-left {
  left: 0;
}
.carousel .arrow.arrow-right {
  right: 0;
  transform: rotate(180deg);
}

.quickDesc .type {
  font-weight: 500;
  font-size: 23px;

  color: #a64b00;
}
.quickDesc .name {
  font-weight: 600;
  font-size: 30px;
  margin: 0;

  color: #1d1d1b;
}
.quickDesc .price {
  margin-top: 20px;
  font-weight: 600;
  font-size: 40px;

  color: #000000;
  margin-bottom: 30px;
}
.rubSign {
  color: #949494;
}
.quickDesc .toCart,
.buyNow {
  height: 55px;
  border: none;
  border-radius: 25px;

  font-weight: 800;
  font-size: 20px;

  -webkit-box-shadow: 0px 0px 6px 0px rgba(34, 60, 80, 0.4);
  -moz-box-shadow: 0px 0px 6px 0px rgba(34, 60, 80, 0.4);
  box-shadow: 0px 0px 6px 0px rgba(34, 60, 80, 0.4);
}
.quickDesc .toCart {
  color: #ffffff;
  background-color: #a64b00;
}
.quickDesc .buyNow {
  background-color: #ffffff;
}
.quickDesc .shortChars {
  font-weight: 500;
  font-size: 20px;
  color: #373737;
}
@media screen and (max-width: 767px) {
  .price {
    margin-top: 0px;
    text-align: right;
  }
}

.fullDesc {
  margin-bottom: 50px;
}
.fullDesc > * {
  margin-bottom: 50px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 5px 20px 20px 20px;
}
.fullDesc > * .head {
  display: flex;
}
.fullDesc > * .head i {
  font-size: 17pt;
  display: block;
}
.fullDesc > * h4 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
}
.fullDesc > * .mainInf {
  font-weight: 500;
  font-size: 20px;
  color: #373737;
  margin-bottom: 20px;
}
.fullDesc > * .showMore {
  display: block;
  margin: 0 auto;
  background-color: inherit;
  border: none;
}
.fullDesc .arrow-down {
  transform: rotate(-90deg);
}

footer {
  padding-bottom: 40px;
  background-color: #252525;
}
footer button {
  background-color: white;
  border: none;
  border-radius: 15px;
  font-size: 25px;
  font-weight: 600;
}
footer button:hover {
  background-color: #d6d6d6;
}
footer button:focus {
  background-color: white;
}
footer h2 {
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 20px;
}
footer .subscribe {
  margin-bottom: 70px;
}
footer .subscribe input {
  height: 65px;
  border: none;
  font-size: 25px;
  color: black;
  border-radius: 15px;
}
footer .subscribe input:focus-visible {
  outline: 0;
  outline-offset: 0;
}
footer .subscribe button {
  height: 65px;
}

footer .shops {
  line-height: 50px;
  font-weight: 500;
  font-size: 25px;
  color: white;
}
footer .phone {
  line-height: 50px;
  font-weight: 500;
  font-size: 25px;
  color: white;
}
footer .contact .ask {
  height: 55px;
}
footer .social {
  display: flex;
  justify-content: space-around;
}
footer .social i {
  font-size: 50px;
}

@media screen and (max-width: 767px) {
  footer {
    padding-bottom: 10px;
  }
  footer h2 {
    font-size: 25px;
    text-align: center;
  }
  footer .subscribe input {
    height: 60px;
    font-size: 20px;
    margin-bottom: 30px;
  }
  footer .subscribe button {
    font-size: 20px;
    height: 60px;
  }
  footer .contact > a {
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 15px;
  }
  footer .contact button {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
