@media only screen and (max-width: 600px)
	span.cur-page
		font-size: 10pt !important

.container .sec-name
	font-size: 20pt !important

.map-wrap
	padding-bottom: 20px
	.map
		iframe
			border: 2px solid black
			border-radius: 10px


.adresses
	margin-bottom: 50px
	.container
		padding: 20px
		background-color: #fdf5e6
		color: #383838
		border-radius: 20px
		.sec-name
			text-align: center
