header
  background-color: #fdf5e6
  color: #383838
main
  background-color: #fdf5e6
  color: #383838
  .container
    .news-item
      display: flex
      .text
        width: 70%
      .picture
        width: 30%
