header
  background-color: #fdf5e6
  color: #383838
main
  background-color: #fdf5e6
  color: #383838
  .container
    .news-item
      display: flex
      .text
        width: 70%
        p
          width: 90%
          font-size: 13pt
      .picture
        width: 30%
    #it1
      .picture
        height: 250px
        background-image: url("../img/news/73a525ebd40022b9c13aa3229e9b84fb.jpg")
        background-size: auto 100% 