*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: 'Gogh', sans-serif

html
  overflow-x: hidden

.sec-name
  margin-top: 0
  margin-bottom: 20px
.line
  margin: auto
  width: 100%
  height: 3px
  background-color: black
  border-radius: 10px
  margin-bottom: 30px

.container
  width: 1260px

.home
  margin: 0 auto
  width: 100vw
  height: 600px
  background-color: #734222
  .next
    width: 100%
    height: 600px
    position: absolute
    left: 100%
  .appear
    transition: 1s
    left: 0
  .container
    left: 0 !important
    height: 100%
    margin: 0 auto
    padding: 30px 0px 40px 0px
    width: 100%
    .mini-menu
      margin-bottom: 60px
      height: 40px
      display: flex
      justify-content: flex-end
      .logo
        height: 100%
        margin-right: 50px
      .bars
        line-height: 40px
        font-size: 20pt
        position: relative
        top: 4px
    .wrap
      height: 350px
      display: flex
      justify-content: space-between
      .info
        width: 50%
        height: 320px
        display: flex
        flex-direction: column
        justify-content: space-between
        position: relative
        z-index: 100
        h1
          margin-top: 0
          text-align: left
          font-size: 35pt
        .options
          button
            margin-top: 50px
            margin-right: 50px
            width: 250px
            height: 70px
            border-radius: 40px
            background-color: transparent
            font-size: 15pt
            font-weight: 500
            transition: .2s
      .picture
        width: 35%
        display: flex
        position: relative
        overflow: hidden
        padding: 0px
        align-items: center
        .next-pic
          position: absolute
          left: 0
          bottom: 100%
          transition: 0s
        .appear-pic
          bottom: 10px
          transition: 1s
        img
          width: 100%

.categories
  background-color: #F5F5F5
  padding: 40px 0
  .line
    background-color: black
  .wrap
    max-width: 1700px
    margin: auto
    .cards
      display: flex
      justify-content: space-between
      align-items: center
      height: calc((1260px)*.22/(8/13))
      .card
        padding: 0 10px
        display: block
        aspect-ratio: 8/13
        width: 20%
        transition: .3s
        background-image: linear-gradient(180deg, rgba(1,84,0,0.4) 0%, rgba(1,84,0,1) 100%),url("../img/home/categories/classical.jpeg")
        background-size: 110%
        background-position: center
        &:hover
          width: 22%
          background-size: 100%
          .desc-wrap
            height: 330px
            i
              bottom: 260px
            p
              top: 80px
              opacity: 1

        .desc-wrap
          position: relative
          width: 100%
          height: 300px
          padding: 0 30px
          display: flex
          justify-content: center
          align-items: center
          transition: .5s
          i
            font-size: 30pt
            color: #F5F5F5
            position: absolute
            bottom: 0px
            transition: .5s
          p
            position: absolute
            font-size: 12pt
            top: 300px
            text-align: center
            opacity: 0
            transition: .3s
            color: #F5F5F5
        h4
          text-align: center
          color: #F5F5F5
          font-size: 20pt

.top-sellers
  padding: 50px 0

  background-color: #8fbc8f
  .container
    .sec-name
      color: #F5F5F5
    .line
      background-color: #F5F5F5
      margin-bottom: 30px
    .wrap
      width: 100%
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      .card
        bottom: 0
        position: relative
        padding-top: 10px
        overflow: hidden
        margin-top: 0
        margin-bottom: 30px
        height: 450px
        width: 300px
        border-radius: 20px
        transition: .3s
        i
          position: absolute
          top: 30px
          right: 30px
          font-size: 15pt
          color: grey
          z-index: 1000
          float: right
        .hover-bg
          position: absolute
          top: 0
          z-index: 1
          opacity: 0
          width: 100%
          height: 100%
          background-color: black
          transition: .2s
        &:hover
          bottom: 10px
          border: 5px solid rgb(1,84,0)
          .hover-bg
            opacity: .1
          .type
            color: rgb(1,84,0) !important
          span
            color: rgb(1,84,0) !important
          i
            color: rgb(1,84,0)
        .picture
          position: relative
          z-index: 0
          height: 60%
          background-size: contain
          background-position: center
          background-repeat: no-repeat
        .desc
          height: 40%
          padding: 20px 20px 0 20px
          flex-direction: column
          h4
            position: relative
            z-index: 5
            margin-top: 0px
            font-size: 20pt
            color: black
          .type
            position: relative
            z-index: 5
            color: grey
          .bot
            width: calc(100% - 40px)
            display: flex
            justify-content: space-between
            align-items: center
            position: absolute
            bottom: 20px
            .price
              position: relative
              z-index: 5
              font-size: 23pt
              color: black
              span
                color: gray
            .avaib
              position: relative
              z-index: 5
              font-size: 12pt
              color: black
              &::before
                content: ""
                display: inline-block
                margin-right: 5px
                width: 10px
                height: 10px
                border-radius: 100%
                background-color: rgb(1,84,0)

.reviews
  padding: 50px 0
  .wrap
    margin: 0 auto
    width: 100%
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .card
      padding: 20px
      border: solid 3px black
      margin-top: 0
      margin-bottom: 30px
      height: 250px
      width: 400px
      border-radius: 20px
      transition: .3s
      .name
        font-size: 17pt
        margin-bottom: 10px
      .type
        color: green
      img
        position: absolute
        bottom: -20px
        right: -20px
        width: 60px
        height: 60px     
        border-radius: 100% 
        border: solid black 3px

.footer
  background-color: #49423D
  height: 400px