*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: 'Gogh', sans-serif

html
  overflow-x: hidden
.home
  margin: 0 auto
  width: 100vw
  height: 600px
  .next
    width: 100%
    height: 600px
    position: absolute
    left: 100%
  .appear
    transition: 1s
    left: 0
  .slide
    left: 0 !important
    height: 100%
    padding: 50px 60px 40px 60px
    width: 100%
    background-color: #734222
    .mini-menu
      margin-bottom: 80px
      height: 40px
      display: flex
      justify-content: flex-end
      .logo
        height: 100%
        margin-right: 50px
      .bars
        line-height: 40px
        font-size: 20pt
        position: relative
        top: 4px
    .wrap
      display: flex
      justify-content: space-between
      .info
        width: 50%
        height: 350px
        display: flex
        flex-direction: column
        justify-content: space-between
        position: relative
        z-index: 100
        h1
          margin-top: 20px
          text-align: left
          font-size: 35pt
        .options
          button
            margin-top: 50px
            margin-right: 50px
            width: 250px
            height: 70px
            border-radius: 40px
            background-color: transparent
            font-size: 15pt
            font-weight: 500
            transition: .2s
      .picture
        margin-right: 100px
        width: 30%
        position: relative
        top: 40px
        overflow: hidden
        padding: 0px
        .next-pic
          position: absolute
          left: 0
          bottom: 100%
          transition: 0s
        .appear-pic
          bottom: 10px
          transition: 1s
        img
          width: 100%

.categories
  width: 100vw
  background-color: #F5F5F5
  padding: 40px 80px

  h2
    margin-top: 0
    margin-bottom: 50px
  .line
    margin: auto
    width: 100%
    height: 3px
    background-color: black
    border-radius: 10px
    margin-bottom: 30px 
  .wrap
    max-width: 1700px
    margin: auto
    .cards
      height: calc((100vw - 160px)*.22/(8/13))
      display: flex
      justify-content: space-between
      align-items: center
      .card
        background-color: #92000A
        aspect-ratio: 8/13
        width: 20%
        transition: .3s
        &:hover
          width: 22%
